#pagina {
    height: 100vh;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headline, #navegar {
    display: flex;  /* Faz os elementos ficarem em linha */
    align-items: center; /* Para alinhar os itens verticalmente */
    gap: 10px; /* Adiciona um espaçamento entre os itens */
}

#sobre {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item:last-child {
    margin-left: auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info-img {
    height: 24px;
    width: 24px;
}

#pfp {
    height: 176px;
    width: 176px;
}

#mini-pfp {
    height: 40px;
    width: 40px;
}

#imagens {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.imagem_aside {
    height: 16vh;
    width: 16vh;
}

#background-gray {
    background-color: gray;
}

#imagens {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.imagem_aside {
    height: 40vh;
    width: 40vh;
}